<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django 2.0.1 - Test Sayfası</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/styles/solarized-dark.css">
    <script src="/static/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

</head>
<body>

<div class="container">


    <h1>{{ kod_detayi.baslik }}</h1>
    <pre><code>{{ kod_detayi.icerik|safe }}</code></pre>
    <p>{{ kod_detayi.kayittarihi }}</p>
    <p>{{ request.build_absolute_uri }}{{ object.get_absolute_url }}{{ kod_detayi.slug }} - {{ kod_detayi.kisaurl }}</p>
    <hr>


</div><!-- /.container -->


</body>
</html>
